@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('scrollbar.css');

:root {
    --first: #5585b5;
    --second: #53a8b6;
    --third: #79c2d0;
    --fourth: #bbe4e9;
    --text: #000d33;
}

html {
    background-color: var(--first);
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

body {
    width: 70%;
    padding: 1.5rem;
    margin: 0 auto;
}

h1 {
    font-size: 2.8rem;
    color: var(--text);
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    color: var(--text);
}

div {
    background-color: var(--third);
    margin: 2.4rem;
    padding: 1rem;
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 18px;
}

button {
    background-color: var(--third);
    border-radius: 10px;
    margin: 0 auto;
}

#userItem {
    padding: 1rem;
    font-size: 0.8rem;
    width: 25%;
    background-color: var(--second);
    color: var(--text);
    margin: 0 auto;
    border: 0.4rem solid var(--first);
}

#userItem:hover {
    background-color: var(--fourth);
    font-weight: 500;
}